<div id="posts">
    <div class="row mx-0">
        {{#each posts as |post|}}
        <div class="post-div col-12" data-id="{{post.id}}">
            <div class="card d-flex flex-column align-items-center post-card">
                <div class="post-title">
                    <h3>{{post.post_title}}</h3>
                </div>
                <div class="post-title">
                    <p>{{ format_date post.post_created}}</p>
                </div>
                <div class="card-text">
                    <br />
                    <p class="text-center">{{post.post_text}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>